* {
    margin: 0;
    padding: 0;

}

body {

    /* width: 100%; */
    height: 100vh;
    background-color: rgb(195, 226, 226);
    overflow: hidden;

}

/* ESTILOS header */
header {

    width: 100%;
    height: 15%;
}

nav {
    height: 100%;
    
}
nav ul li {

    border: 2px solid black;
    background-color: rgb(40, 53, 17);
    color: white;
    padding: 5px;
    border-radius: 10px;
    float: right;
    margin: 5px;
}

a {
    text-decoration: none;
    color: white;
}

#logo {

    width: 5%;
    height: 30%;
    float: left;
}

#titulo {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo2 {
    text-align: left;

}




/* ESTILO CONTENIDO PRINCIPAL */


main {
    width: 100%;
    height: 70%;
    font-size: 0;

}

#block-img {
    width: 50%;
    height: 100%;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    background-image: url(https://2.bp.blogspot.com/_HgJzxI_xGsI/Sm-OdLdIJ3I/AAAAAAAABsA/4ZejDBwPAnA/w1200-h630-p-k-no-nu/Aeropuerto+Internacional+de+Carrasco+Rafael+Vi%C3%B1oly+-+01.jpg);

}

#block-text {
    width: 49.8%;
    height: 100%;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    overflow: auto;
    background-color: beige;
    border: 2px solid black;
}








/* ESTILO PIE DE PAGINA */
footer {
    width: 100%;
    height: 15%;


}

#pie {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#redes {
    text-align: right;
}